* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

h1 {
  text-align: center;
  margin: 20px 0 0 0;
}

h3 {
  margin: 0px;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#board {
  border: 3px solid black;
  width: 50vw;
  height: 50vh;
  min-width: 400px;
  max-width: 400px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}

#tileRow {
  flex: auto;
  display: flex;
}

.tile {
  /* border: 1px solid black; */
  /* padding: 10px; */
  flex: auto;
}

.color {
  background-color: gray;
}

#colors {
  display: flex;
  gap: 15px;
}

.colorTile {
  width: 50px;
  height: 50px;
  border: 3px solid bisque;
  flex: auto;
}

#boardButtons {
  display: flex;
  gap: 30px;
}

#red {
  background-color: #ef476f;
}
#yellow {
  background-color: #ffd166;
}
#green {
  background-color: #06d6a0;
}
#blue {
  background-color: #118ab2;
}
#dark {
  background-color: #073b4c;
}
#white {
  background-color: #ffffff;
}
#eraser {
  background-color: bisque;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
